<h2>Display List of DMPs</h2>

<p>Returns a list of all DMPs owned by your application.</p>

<p>Make sure you have logged in above!</p>

<%= form_with url: dmp_index_test_path, remote: true, method: :get do %>
  <div>
    <%= label_tag :token, 'Authorization Token:' %>
    <%= text_field_tag :token, nil, class: 'auth_token' %>
  </div>
  <%= submit_tag 'Get DMPs' %>
<% end %>
<div id="auth_index_errors" style="color: red;"></div>
<pre id="auth_index_results" style="background-color: #f2f2f2; padding:10px 5px"></pre>

<script>
  function displayIndexTestResults(data) {
    if (data.errors) {
      document.getElementById('auth_index_errors').innerHTML = data.errors;
      document.getElementById('auth_index_results').innerHTML = '';
    } else {
      document.getElementById('auth_index_errors').innerHTML = '';
      document.getElementById('auth_index_results').innerHTML = JSON.stringify(data, undefined, 2);
    }
  }
</script>